.user-profile{
  height: 520px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: var(--color-light-text);
  background-image: url(../images/beige-paper-1920x1080.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user{
  padding-top:140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user h2{
  margin: 0;
}

.user-last-name {
 font-weight: 300;

}

@media screen and (min-width: 48em) {
  .main-layout {
    display: flex;
    padding-top: 180px;
    margin: 0 2rem;
  }
 
  .user-profile {
    margin: 3rem 5rem 3rem 3rem;
    height: 400px;
    max-width: 460px;
    border-radius: 4px;
  }
 
  .user {
    padding: 3rem 2rem;
  }
 }
