header{
  height: 400px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: var(--color-light-text);
  background-image: url(../images/beige-paper-1920x1080.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user{
  padding-top:90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user h2{
  margin: 0;
}

.user-last-name {
 font-weight: 300;

}
