nav{
  height: 120px;
  width: 100%;
  color: var(--color-light-text);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.logo-text {
  font-family: Bungee;
}

.nav-right{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  font-size: 1rem;
  cursor: pointer;
}

.double-arrow{
  padding-top: 1rem;
  cursor: pointer;
  color: red;
}

.double-arrow:hover {
  color: rgb(223, 82, 82);
}

#slider {
  height: 11px;
}

@media screen and (min-width: 22em) {
  .nav-right{
    font-size: inherit;
  }

}

@media screen and (min-width: 48em) {
  nav{
    background-color: var(--color-accent);
    -webkit-box-shadow: 0px 4px 10px -3px #4A4A4A;
    box-shadow: 0px 4px 10px -3px #4A4A4A;
    padding: 0 2rem;
  }
}
